header img
{
    height: 100px;
    width: 100px;
}
#flex_box_top
{
    display: flex;
    justify-content: center;
    height: 10vh;
}
nav li
{
    list-style-type: none;
    display: inline;
    justify-content: center;
}
#top_page
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
#top_page h1
{
    align-content: center;
}









#skills_page img
{
    height: 116px;
    width: 100;
}