header img
{
    height: 250px;
    width: 300;
}
#flex_box_top
{
    display: flex;
    height: 20%;
}
nav li
{
    list-style-type: none;
    display: inline;
    align-items: center;
}
#top_page
{

}









#skills_page img
{
    height: 116px;
    width: 100;
}