@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600&display=swap');
@media only screen and (min-width: 1000px){
  body{
      
      color: black;
      padding: 2rem;
      display: flex;
      min-height: 100vh;
      justify-content: center;
      align-items: center;
      background-image: url("./img/bg.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      animation-name: backgroundZoomAnimate;
      animation-duration: 4s;
      animation-iteration-count: infinite;
  }
  .card{
    box-shadow: 0 18px 200px -60px black;
    border-radius: 50px;
    width: 650px;
    position: relative;
    backdrop-filter: blur(15px);
    border: 2px solid #ffffff40;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
  }

  .socials{
    display: flex;
    justify-content: space-around;
    margin: 50px;
  }
  .facebook{
    display: flex; 
    background-color: #1877F2;
    padding: 10px;
    border-radius: 40%;
    
  }
  .linkedin{
    display: flex; 
    background-color: #0A66C2;
    padding: 10px;
    border-radius: 40%;
    
  }
  
  .gitlab{
    display: flex; 
    background-color: #FC6D26;
    padding: 10px;
    border-radius: 40%;
  }
 
  .github{
    display: flex; 
    background-color: #050628;
    padding: 10px;
    border-radius: 40%;
  }
  
  
}
@media only screen and (max-width: 1000px){
    body{
     
      color: black;
      min-height: 100vh;
      padding: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-image: url("./img/bg-vertical.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      animation-name: backgroundZoomAnimate;
      animation-duration: 4s;
      animation-iteration-count: infinite;
  }
  .card{
    box-shadow: 0 18px 180px -40px black;
    border-radius: 50px;
    width: 450px;
    position: relative;
    backdrop-filter: blur(15px);
    border: 2px solid #ffffff40;
    padding: 3rem 5rem;
    display: flex;
    flex-direction: column;
  }

  .socials{
    display: flex;
    justify-content: space-around;
    margin: 50px;
  }
  .facebook{
    display: flex; 
    background-color: #1877F2;
    padding: 10px;
    border-radius: 40%;
  }
  .linkedin{
    display: flex; 
    background-color: #0A66C2;
    padding: 10px;
    border-radius: 40%;
  }
  .gitlab{
    display: flex; 
    background-color: #FC6D26;
    padding: 10px;
    border-radius: 40%;
  }
  .github{
    display: flex; 
    background-color: #050628;
    padding: 10px;
    border-radius: 40%;
  }



}
.avatar{
  display: flex;
  justify-content: center;
}
._img{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow:  0 10px 60px -10px rgba(13, 28, 39, alpha);
}
.info{
  display: flex;
  flex-direction: column;
  align-items: center;
  color:azure;
}
.info_child{
  display: flex;
  align-items: center;
}

a{
  text-decoration: none;
  color: azure;
}

.facebook:hover{
  transform: scale(1.4);
  border-style: solid;
  border-width: 1px;
  border-color: azure;
}
.linkedin:hover{
  transform: scale(1.4);
  border-style: solid;
  border-width: 1px;
  border-color: azure;
}
.gitlab:hover{
  transform: scale(1.4);
  border-style: solid;
  border-width: 1px;
  border-color: azure;
}.github:hover{
  transform: scale(1.4);
  border-style: solid;
  border-width: 1px;
  border-color: azure;
}
.link_to_email{
  text-decoration: azure;
  text-decoration: underline;
}
.link_to_email:hover{
  transform: scale(1.2);
}
@keyframes backgroundZoomAnimate {
    0% {background-size: 125%;}
    50% {background-size: 150%;}
    100% {background-size: 125%;}

  }

@media only screen and (max-width: 600px){
  body{
    width: auto;
    color: black;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./img/small_screen.png);
    background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      animation-name: backgroundZoomAnimate;
      animation-duration: 4s;
      animation-iteration-count: infinite;
  }
  .card{
    box-shadow: 0 18px 150px -45px black;
    border-radius: 50px;
    width: 250px;
    position: relative;
    backdrop-filter: blur(15px);
    border: 2px solid #ffffff40;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: column;
  }

  .socials{
    display: flex;
    justify-content: space-around;
    margin: 50px 0px 50px 0px;
    width: 100%;
  }

  .facebook{
    display: flex; 
    background-color: #1877F2;
    padding: 10px;
    border-radius: 40%;
  }
  .linkedin{
    display: flex; 
    background-color: #0A66C2;
    padding: 10px;
    border-radius: 40%;
  }
  .gitlab{
    display: flex; 
    background-color: #FC6D26;
    padding: 10px;
    border-radius: 40%;
  }
  .github{
    display: flex; 
    background-color: #050628;
    padding: 10px;
    border-radius: 40%;
  }
  a{
    text-decoration: none;
    color: azure;
  }
}
body{
  font-family: 'Titillium Web', sans-serif;
  font-size: 150%;
}